

<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-stop">
  <div class="container-fluid">

      <a style="color: #39c5b7" class="navbar-brand" href="index.html">
        <img class="logo" src="https://cdn-icons-png.flaticon.com/512/1390/1390221.png" width ="28" alt="">FUNKOMANIA
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navegar" aria-controls="navbarToogler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navegar">
        <div class="navbar-nav mr-auto ml-auto mb-lg-0">
          <a class="nav-link" href="nosotros.html">Nosotros</a>
          <a class="nav-link" href="login.html">Login</a>
        </div>
      </div>
  </div>
</nav>
<section>
  <div class="container mt-5">
    <div class="row align-items-start">
      <div class="col">
        <img src="https://i.linio.com/p/9ad6559e042119683b6180eef862569c-product.jpg" alt="">
      </div>
      
      <div class="col">
        <h3>POP DISNEY ULTIMATE PRINCESS - POCAHONTAS 1017</h3>
        <p><del>S/ 69.90  </del>  -21% </p>
        <p>MARCA <u> fUNKO</u></p>
        <h3 class="precio__funko"> s/ 54.00 </h3>
        <p class="bono">Acumula hasta 54 CMR Puntos</p>

       
          <div class="delivery_seccion border border-success">
            <div class="container ">
              <div class="contenido_delyvery">
                
                <p> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABG0lEQVRIS91UgREBMRD8r4AOvArQwasAHdABFaADKqAEKqADdEAHOmDXXDL5yMv7/4wZN3PzSf5u9+5yuTgKLHFg/Oi/CFKUawNNCpbtDLuez9Ys0RXGLZ+D9d9bYtPg8SU4zYMTmDGtsJnZQVbNwMYjAYm0VCVQ/myQA/QuF8/7fEldBMTaQQfyHYUgSADK1m1A+9BjHRnYd6D2LFE7JIHGrnoHeRn8hoB1U6NiifVCdP4hzDy7G3x46Zk27WJ/ErCipXPZEXzs6iJiqywYvYqOGeiIJADV8z67t2FFB1dJ1jifGqVKsebLtWWCg615aE/DphjwRSrZYzF0gPGMAXWgF1kzs4zkjdsEVlTOFr7O0uKd56WRxTE4wROY4zUZZ4urzgAAAABJRU5ErkJggg=="/>Envío S/ 7.90</p>
                <p> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABZUlEQVRIS+WUgU0DMQxF2wmACWg3gAkoEwATtEwATEDZgA0oEwATcEwAG1A2gAngv8qOciZp6UmVQFj6yt2P7W8nvuv3Nmz9Defv1QSuJXy2pjgxFzGmJDCV0+Wayd39Sg/EJ4sCA+08C9vCodAIx8Kd8CSMLBL+QDgR7o1/1Pou7AtzV4gCOB8JD5YYPyqio7y6EuexrAgvLBegOqr4EPayKmK1xJW6Goh/EbYE774lQFu7oVKS0TZBw0yUZK+2t+PVap0KdEsu/FsCyxLhWxKAR4BYzIU5Be6xJTDT+1hoBM4QhxthZMHwp/Zc4hFhGPC/FSZRwNUtR1qoBuOYcqvx+KRu4xR9hiRM07lxfEhMGFbjPTzlrQl0/YV4gb9LgEvjUrmj3OZ64dKbjOzUAYn4PkrG3mLezToJfAuqJRP/DwT8d1E58h/Rb/lAxHlnYmZLLnWVAskn+WR1/aBWCaX9vy/wBbyoXhl6EIrUAAAAAElFTkSuQmCC"/>Recógelo gratis en tienda</p>
  
              </div>
  
            </div>
  
          </div>
          <button type="button" class="btn btn-info btn-lg mt-3">Añadir a carrito</button>


      </div>

    </div>
  </div>
  <div class="container mt-5">
    <div class="row align-items-start">
  <div class="col card">
    <div class="card-header">
      Caracteristicas destacadas 
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <h6>ADVERTENCIA: Este producto puede contener piezas pequeñas, que representen riesgo de asfixia. Se sugiere supervisión de un adulto.</h6>
        <h6 class="item"> * Línea: POP!</h6>
        <h6 class="item"> * Fabricado en vinyl</h6>
        <h6 class="item"> * Altura de 10 cm</h6>
        <h6 class="item"> * Edad mínima recomendada de 3 años</h6>
      </blockquote>
    </div>
  </div>
  <div class="col">
    <div class="delivery "> 
      <div class="delivery border border-info text-center">
        <p class="bono_2">¡Aprovecha las Oportunidades Únicas de CMR Visa!</p>

      </div>
      <p> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABf0lEQVRIS+2V/VHDMAzF2wmADTICnYAwAWxANqBMQJgANqBMAGxQJihMQDYAJoD368k9Yfxxl0v/Q3c6J7as9/RkJ/PZnm2+5/yzKQEORfYzJjwVQKfEt/JT+asHyQE0tqG14LXGK/mQkfRJ82dy4gDZWQqA5Bs5JXuj/EUEcmyMiQX8wAAA2loKILB50PrS4u40Xsif5ec212m8dwl7PV/L2cdaFgCmMDmSh6bB8MPemcdCwhc9t3KqoXJ6QKWjAL60K0jX6Pk9yvMd5y1JtFIwjcU4IZ3cSzQagI2UiUzeYI8Mg032GtE8lujN4rISsQAIjW0t2VojDQ/JmaaiUU2OiBdf/TGlH/SHewChbAUcw0vHPsSy6cZvdtDhaAe5dktxk1da4byXDJA+CkCuIGn2UwHzR9vI6YHVYO+NRpLQVOyXDDZX/dghwYmc5LBJGcz9ySlVul3zEoVL4m9wnIBK4stVBEkB1D7hf25rCaGWrCpBLeAfoKbQpD/9JNgPi5FTGY9I27gAAAAASUVORK5CYII="/>asesoria gratuita</p>
     <p> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABZElEQVRIS7WVPW4CQQyF2QpRhQ7RkgskLQ3kBFDTEKpwgFwgJ4AOiYqGnpwAEBI11JHSIjq6KFV4jsaSMZ6fXQHS07CjmffZxniz0p0/2Z39SzFADQH0oJEIpOqeaf2AdqEgQ4A6Lm6gR+gNmkJkuoSenOkJ60sI4gNQ5FuoAX1DTehXmO+daR9rEGIBUszbzniGNQjRgDzmXPogRAKKmEchEjDE6Qn0BbWgH1VzLouvacxMdInecXtewFxnssYGBWT+D2QrUrfEImdzee8Tm10LcAvzi6BkiW5urjNYYKMDFS2LeU9msHLdQ90wEK1Cs+YPelbtY2VcxpmL2SUBNF8I8gBJCA8znj/Escwr2Nez66qLfBAZvC9yPbuOvjYNQXKZ+wC0b0Fym4cAFoSgJO4W+kHNssh6xt5oMhO6J1tRz66D6rL/xxiAMxnjC71YXt3KXjy7TPNUgBVY8l5KBslm1sEzaveGGcMpnSoAAAAASUVORK5CYII="/>descarga muestra app</p>
     <p > <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAB0UlEQVRIS7WUvS5EURSFZwo1KhHEFQ+A3s/1BNQaVyU68QLGE+gUGqPQ8wRG6HkA5AqJqPAAwvom+4zjzP0bzE5Wzrn77L3W3ufn1mt9tnqf+Wu9CCQqZtcKamg8rlJcFQFHHAWEqb5LhYoEQuIHI0QH4kkTLBTKEsgjbgYdEFcqFArcKGnGiFzFIXG49aEQHHMuKBT4tIUNjWXEWUJH5uzw5glUOfwRka0J+56SK/DPAmMivRCmhU3h0ERKBVoKXLI9ZC+xHeFEeLFvn/xWvkXhWYiFcxNm3rZwK5ryrQvuDLY0PxBSYd7irzRyRX1yuLYFtosHmOQJsMBBnQmrwqhwKbAV98KAMCHcCbHw5Ig0ngorXnHtpbCDIflehTdhysZxE4mMLNW4EJC7PEKGLS9TAKerZE/zhpE6ET5DcnzE8Z9ynVtadwcsxAKHRRc8GCrGIuFDeOxkf/uvNaWLZaHlr+fdd9cFwSQVmXv9XdWTlCdANVQ+KDQFblWWscate7cO6fqHFb3YWWsXETpCxBFQALeNmwZ5LLh3U1mAQF8E8oZAURwoIoXkEFT550SKYyt44b7xq0iENPD31IEfDBkdYIyIllqVDkpJ/quDXwl9AVXdZxkDcvk/AAAAAElFTkSuQmCC"/>Proteccion al comprador </p>
    </div>

  </div>
</div>
</div>
</section >

<section>
  <div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">N</th>
        <th scope="col">Tiendas</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Direccion</th>
        <th scope="col">ciudad</th>
      </tr>
    </thead>
    <tbody>
      <tr ngFor ="let pro01 og producto">
        <th scope="row">1</th>
        
        <td>{{pro01.tiendas}}</td>
        <td>{{pro01.cantidad}}</td>
        <td>{{pro01.direccion}}</td>
        <td>{{pro01.ciudad}}</td>
        
      </tr>
      <tr ngFor ="let pro02 og producto">
        <th scope="row">2</th>
        
        <td>{{pro02.tiendas}}</td>
        <td>{{pro02.cantidad}}</td>
        <td>{{pro02.direccion}}</td>
        <td>{{pro02.ciudad}}</td>
      </tr>
      <tr ngFor ="let pro03 og producto">
        <th scope="row">2</th>
        
        <td>{{pro03.tiendas}}</td>
        <td>{{pro03.cantidad}}</td>
        <td>{{pro03.direccion}}</td>
        <td>{{pro03.ciudad}}</td>
      </tr>
    </tbody>
  </table>
</div>
  
</section>
<section>
<footer class="bg-dark text-center text-white">
  
  <div class="container p-4 mt-5">
    <!-- Section: Social media -->
    
    <!-- Section: Social media -->

    
    <section class="">
      <form action="">
        
        <div class="row d-flex justify-content-center">
          
          <div class="col-auto">
            <p class="pt-2">
              <strong>Escribe un comentario</strong>
            </p>
          </div>
  
          <div class="col-md-5 col-12">
            
            <div class="form-outline form-white mb-4">
              <input class="form-control" id="exampleInputopinion" aria-describedby="emailHelp" [(ngModel)]="comentari.opinion" [ngModelOptions]="{standalone: true}"/>
              
            </div>
          </div>
          
          <div class="col-auto">
            
            <button  class="btn btn-outline-light mb-4" (click)="onDatos()">Enviar
            </button>
          </div>
          
        </div>
        
      </form>
    </section>
    
    <section class="mb-4">
      <p>
        Recuerda que, estos juguetes cuentan con ediciones limitadas para que crees tu propia colección de tus personajes y series favoritas. Además, algunos están equipados con accesorios exclusivos que te permiten divertirte junto a tus amigos y familiares.
      </p>
    </section>
    
    <section class="">
      
      <div class="row">
     
      </div>
      
    </section>
    
  </div>
  
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Funkomania:
    <a class="text-white" href="https://mdbootstrap.com/">www.Funkomnia.com</a>
  </div>
  
</footer>
</section>
